/*@import url("../../Style.global.css");*/

main {
    grid-template-rows: repeat(3, auto) !important;
}

main>figure {
    grid-column: 2 !important;
    grid-row: 2 !important;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 3rem;

    background-color: var(--background-darker-colour);

    border-radius: 2rem;
}

main form section {
    --input-field-count: 1;

    display: flex;
    flex-direction: column;
    place-content: start;
    place-items: start;
    gap: 1.5rem;
}

main form section .input-field-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    place-content: center start;
    place-items: center start;
}

@media (min-width: 820px) {

    main>h1 {
        place-self: center !important;
    }

    main form {
        grid-column: 1;
        grid-row: 1 / -1;
    }
}