@import url("/css/ToggleButton.css");

footer {
    --padding: 1rem;

    position: sticky;
    inset: 0;
    top: auto;
    height: calc(var(--footer-height) - var(--padding) * 2);

    display: flex;
    place-content: center start;
    place-items: center start;
    gap: 1rem;

    padding: var(--padding);

    background-color: var(--background-darker-colour);

    outline: 0.2rem solid var(--background-colour);

    z-index: 4;
}

footer #credits-displayer {
    width: 100%;

    display: flex;
    place-content: center start;
    place-items: center start;
    gap: 1rem;

    overflow: hidden;
}